
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/PatternLearning.iml
.idea/vcs.xml
PINNs/Pytorch_implementation/__pycache__/data.cpython-312.pyc
PINNs/Pytorch_implementation/__pycache__/pinn.cpython-312.pyc
PINNs/Pytorch_implementation/__pycache__/utils.cpython-312.pyc
*.wandb
PINNs/Pytorch_implementation/wandb/debug-cli.Ian_b.log
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/conda-environment.yaml
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/config.yaml
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/output.log
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/requirements.txt
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/wandb-metadata.json
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/wandb-summary.json
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/logs/debug-internal.log
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/logs/debug.log
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/conda-environment.yaml
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/config.yaml
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/output.log
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/requirements.txt
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/wandb-metadata.json
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/wandb-summary.json
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/logs/debug-internal.log
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/logs/debug.log
.idea/workspace.xml
PINNs/04_2024_pytorch_PINNs/__pycache__/pinn.cpython-312.pyc
*.yaml
*.log
*.json
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_174913-s9n1gln9/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175051-ck0uame3/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175135-nl7emmab/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175148-g6ezlpmn/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175313-44f9gt9t/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175329-96r1sqnj/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175348-2t47umze/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175650-88pji8cx/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175703-w6mrgzub/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175715-rkoabslo/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175815-1xmsxd6k/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_175908-1c6azvir/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_180018-hhnvt9ui/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_180129-uagqkjel/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_180230-wthdnybh/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_180324-jy9pbibn/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_180421-kwv4wfb4/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_180520-jbex3b7o/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_180636-7jid0q9k/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_180733-idgerzul/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240408_180835-u2jvw7cj/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_134506-kj8wfvag/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_134925-342gqhpe/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_134941-dryz6iy8/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_134956-zdpjyx9e/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_135821-8n1mw057/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_135836-g7f11pqj/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_141043-entr1cjt/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_141142-83t4vfoh/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_141915-7e4tkvx8/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_141951-fqbhfxd5/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_142220-uunnmtxn/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_142301-apvgfk78/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_143355-9tipn3w9/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_143657-1fsu9nwq/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_143733-tco1s8c7/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_143756-balmna5h/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144250-rk20p4bg/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144308-2sj6iulr/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144315-up18fp2t/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144354-9h2yc68g/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144417-edxk3im2/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144433-s6fd2rh6/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144441-1hhh6wr8/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144559-igjzce7h/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144621-qipvsqa6/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144628-2rs8fm0l/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_144850-au810jh8/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/latest-run
PINNs/04_2024_pytorch_PINNs/__pycache__/pinn.cpython-312.pyc
PINNs/04_2024_pytorch_PINNs/__pycache__/pinn.cpython-312.pyc
PINNs/04_2024_pytorch_PINNs/__pycache__/utils.cpython-312.pyc
*.pyc
PINNs/04_2024_pytorch_PINNs/__pycache__/pinn.cpython-312.pyc
PINNs/04_2024_pytorch_PINNs/__pycache__/utils.cpython-312.pyc
PINNs/04_2024_pytorch_PINNs/__pycache__/pinn.cpython-312.pyc
PINNs/04_2024_pytorch_PINNs/__pycache__/utils.cpython-312.pyc
*.xml
*.iml
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_145711-zmn45911/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_150256-4n1vyr50/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_151345-eyqr4clf/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_151431-y8andsrq/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_151513-lvwj2862/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_152130-8kg3zlxr/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_152259-allu9kgy/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_152339-12o4mb2j/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_153304-g91fx7hy/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_153321-fqkug2i9/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_155425-7go78my4/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_155442-nloviubt/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_161217-zak8prdt/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_161239-q34pa038/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_161254-an5acsoo/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_161407-zvu5l3se/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_161424-q763ncgi/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_161443-5lh4nal2/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_161905-0mz9ersu/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_161923-2m8b58u4/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_161935-42atwm50/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_162223-0mgxviua/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_162959-4folz04l/files/requirements.txt
PINNs/04_2024_pytorch_PINNs/wandb/run-20240430_163931-x1lg8j8g/files/requirements.txt
PINNs/.DS_Store
.DS_Store
