
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/PatternLearning.iml
.idea/vcs.xml
PINNs/Pytorch_implementation/__pycache__/data.cpython-312.pyc
PINNs/Pytorch_implementation/__pycache__/pinn.cpython-312.pyc
PINNs/Pytorch_implementation/__pycache__/utils.cpython-312.pyc
*.wandb
PINNs/Pytorch_implementation/wandb/debug-cli.Ian_b.log
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/conda-environment.yaml
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/config.yaml
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/output.log
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/requirements.txt
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/wandb-metadata.json
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/files/wandb-summary.json
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/logs/debug-internal.log
PINNs/Pytorch_implementation/wandb/run-20240405_141259-62lsctc8/logs/debug.log
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/conda-environment.yaml
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/config.yaml
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/output.log
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/requirements.txt
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/wandb-metadata.json
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/files/wandb-summary.json
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/logs/debug-internal.log
PINNs/Pytorch_implementation/wandb/run-20240405_141624-sft8foq2/logs/debug.log
.idea/workspace.xml
PINNs/04_2024_pytorch_PINNs/__pycache__/pinn.cpython-312.pyc
